<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">

    <title>Suborbia</title>
</head>

<body>
    <header class="site-header">
        <div class="container">
            <div class="header-left">
                <button id="menu-toggle" class="menu-btn">
                    <img src="{% static 'img-icon/menu-button.svg' %}" alt="menu-button">
                </button>
            </div>

            <aside id="sidebar" class="sidebar">
                <button id="sidebar-close" class="sidebar-close-btn" aria-label="Закрыть меню">×</button>

                <div class="img-box">
                    <img src="{% static 'img-icon/logo.svg' %}" alt="">
                </div>

                <nav class="gender">
                    {% for product in products %}

                    {% endfor %}

                    <a href="{% url 'product_list_by_gender' 'female' %}">ЖЕНСКОЕ</a>
                    <p>|</p>
                    <a href="{% url 'product_list_by_gender' 'male' %}">МУЖСКОЕ</a>
                    <p>|</p>
                    <a href="{% url 'product_list_by_gender' 'unisex' %}">ДЕТСКОЕ</a>
                </nav>

                <nav class="sidebar-nav">
                    {% for category in categories %}
                        <a href="{% url 'product_list_by_category' category.slug %}">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                    
                </nav>
            </aside>

            <!-- Затемнение -->
            <div id="overlay" class="overlay"></div>

            <div class="header-center">
                <div class="brand">
                    <a href="{% url 'product_list' %}">
                        <img src="{% static 'img-icon/logo.svg' %}" alt="logo">
                    </a>
                </div>
            </div>

        <!-- Правая часть: иконки -->
            <div class="header-right">
                <button class="icon-btn">
                    <a href="{% url 'favorites' %}">
                        <img src="{% static 'img-icon/favorite-icon.svg' %}" alt="favorite">
                    </a>
                </button>
                <button class="icon-btn">
                    <a href="{% url 'cart_detail' %}">
                        <img src="{% static 'img-icon/bag-icon.svg' %}" alt="bag">
                    </a>
                </button>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer>

    </footer>

    <script>
        const toggleBtn = document.getElementById('menu-toggle');
        const sidebar = document.getElementById('sidebar');
        const overlay = document.getElementById('overlay');
        const sidebarCloseBtn = document.getElementById('sidebar-close');

        toggleBtn.addEventListener('click', () => {
            sidebar.classList.toggle('active');
            overlay.classList.toggle('active');
        });

        overlay.addEventListener('click', () => {
            sidebar.classList.remove('active');
            overlay.classList.remove('active');
        });

        sidebarCloseBtn.addEventListener('click', () => {
            sidebar.classList.remove('active');
            overlay.classList.remove('active');
        });
    </script>
</body>
</html>