{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
	<main class="site-main">
        <div class="container products-container">
            {% for product in products %}
            <div class="product-card">

                <div class="img-card">
                    <a href="{% url 'product_detail' product.id product.slug %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    <button class="favorite-btn">
                        <img src="{% static 'img-icon/favorite-icon.svg' %}" alt="В избранное" class="heart-icon">
                    </button>
                </div>

                <div class="info-card">
                    <a class="product-title" href="{% url 'product_detail' product.id product.slug %}">
                        <b>{{ product.name }}</b>
                    </a>
                    <p class="product-price">Цена: {{ product.price }} ₽</p>
                </div>

            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
