{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
    <div class="detail-container">
        <div class="img-detail">
            <img src="{{ product.image.url }}" alt="image-product">
        </div>
        <div class="info-detail">
            <h2 class="name-detail">{{ product.name }}</h2>

            <p class="product-description">
                {{ product.description }}
            </p>

            <p class="price-detail">
                {{ product.price }} ₽
            </p>

            <div class="sizes-detail">
                <p class="label">Размеры:</p>
                <div class="size-boxes">
                    {% for size in product.sizes.all %}
                        <div class="size-box">{{ size }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="product-quantity-detail">
                <p class="label">Количество:</p>
                <div class="quantity-boxes">
                    <button class="quantity-btn">-</button>
                    <span class="quantity-count">1</span>
                    <button class="quantity-btn">+</button>
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <button class="buy-button-detail">Добавить в корзину</button>
                    </form>
                    <form method="post" action="{% url 'add_to_favorites' product.id %}">
                        {% csrf_token %}
                        <button class="favorite-button-detail"  type="submit">
                            <img src="{% static 'img-icon/favorite-icon.svg' %}" alt="Добавить в избранное" width="24" height="24">
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
