{% extends 'shop/base.html' %}

{% block content %}
	<h2>Избранное</h2>
    <ul>
      {% for item in items %}
        <li>
          <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
          — {{ item.product.price }} ₽
          <form method="post" action="{% url 'remove_from_favorites' item.product.id %}">
            {% csrf_token %}
            <button type="submit">Удалить</button>
          </form>
        </li>
      {% empty %}
        <li>Нет избранных товаров.</li>
      {% endfor %}
    </ul>
{% endblock %}